@import "../../styles/variables.scss";

.navBar{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: aqua;
    .navContent{
        border: 2px solid red;
        max-width: $max-page-width;
        display: flex;
        justify-content: space-between;
        // width: max-site-width;
        width: 1250px
    }
}

.navPane{
    display: flex;
    flex-direction: column;
    li {
            list-style: none;
        }
}