@import "../../styles/variables.scss";
// The bar that spans the whole width of the site
.navBar{
    display: flex;
    justify-content: center;
    height: 10rem;
    background-color: $background-primary;
}
// The part of the bar that is the max page width
.navBarContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-page-width;
}

// the actual navigation items, not including logo
.navPane{
    background-color: $background-primary;
    z-index: 1;
    display: block;
    ul{
        display: flex;
        padding-left: 0;
        li{
            list-style: none;
            padding: 1rem 2rem;
            font-size: 3rem; 
            color: $off-white;
            position: relative;
        }
        li:hover{
            background-color: $action;
        }
    }
}

.burgerButtonContainer {
    position: relative;
    display: none;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;
    border: none;
    background: none;
}

.checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media  screen and (max-width: $large-phone-breakpoint) {
    .navBar{
        height: 6rem;
    }
    .navPane  {
        padding-top: 3rem;
        padding-left: 70px;
        min-height: 100vh;
        width: 60vw;
        transform: translate(-100%, 270px);
        margin-left: -40px;
        transition: transform 0.3s ease-in-out;
        top: -270px;
        position: fixed;
        ul{
            flex-direction: column;
            li{
                list-style: none;
                margin-top: 1rem;
            }
        }
    }    
    .navBlur{
        position: fixed;
        width:100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.8;
        z-index:1;
    }    

    .navPane.show {
        transform: translate(25px, 270px);
    }
    .burgerButtonContainer{
        display: flex;
    }
}

@media screen and (max-width: $small-phone-breakpoint){
    .navPane{
        width: 100vw;
    }
}

.cross{
    position: fixed;
}
