$max-page-width: 1250px;

$large-phone-breakpoint: 700px;

$small-phone-breakpoint: 414px;

// Colors

$background-primary: #3A0CA3;
$secondary: #087E8B;
$action: #FF5A5F;
$pink:#C1839F;
$off-white: #F5F5F5;
